<ul>
	<li><%= link_to "A" , "/home/a" %></li>
	<li><%= link_to "B" , "/home/b" %></li>
	<li><%= link_to "C" , "/home/c" %></li>
	<li><%= link_to "frame top" , "/home/no_frame", data: {'turbo-frame': '_top'} %></li>
	<li><%= link_to "other" , "/home/other_frame", data: {'turbo-frame': '_top'} %></li>

</ul>