<ul>
	<li><%= link_to "A (inside frame)" , "/home/a" %></li>
	<li><%= link_to "B (inside frame)" , "/home/b" %></li>
	<li><%= link_to "C (inside frame)" , "/home/c" %></li>
	<li><%= link_to "frame top (no frame)" , "/home/no_frame", data: {'turbo-frame': '_top'} %></li>
	<li><%= link_to "other (other frame)" , "/home/other_frame", data: {'turbo-frame': '_top'} %></li>

</ul>